product_key_memory
local_attention
rotary_embedding_torch
python_speech_features
pandas
tensorflow
g2p-en
inflect
librosa
matplotlib
numba
numpy
pyloudnorm
pypinyin
pyworld
pycwt
praat-parselmouth
PyYAML
scikit-learn
scipy
soundfile
tensorboard
tgt
torch
tqdm
unidecode
pillow
einops